body {
    text-align: center;
    background-color: rgb(139, 131, 131);
    font-family: 'oswald', serif;
    color: rgb(78, 13, 5);
}
div{
    text-align: center;
    width: 150px;
    margin: auto;

}
img{
    border-radius: 500%;
    border-color: black;
    max-width: 80%;
    margin-top: -79px;
}
main{
    width: 500px;
    display: inline-block;
    margin: 100px auto 72px auto;
    border: 3px solid rgb(44, 44,44);
    background-color: rgba(207, 165, 157, 0.61);
    box-shadow: 2px;
    padding: 24px;
}
main p{
    margin-top: 48px;
}
a{
    text-decoration: none;
    color: rgb(221, 17, 17);
}