body {
    text-align: center;
    background-color: rgb(139, 131, 131);
    font-family: 'Times New Roman', serif;
}
h1{
    font-size: 48px;
}
a{
    font-size: 24px;
    color: white;
    background-color: rgb(221, 17, 17);
    padding: 2px 5px;
    border-radius: 4px;
    text-decoration: none;
}
a:hover{
    background-color: rgb(223, 52, 52);
    
}
ul{
    list-style: none;
    background-color: rgba(207, 165, 157, 0.61);
    margin: 15px 0;
    border-radius: 10px;
}
li{
    margin: 12px 0;
}