<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Eatwell - Make The World A Tastier Place</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;700&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="styles/shared.css" />
  <link rel="stylesheet" href="styles/restaurants.css" />
  <script src="scripts/responsive.js" defer></script>
</head>

<body>
  <%- include('includes/header') %>
  <%- include('includes/asidebar') %>
  <main>

    <% if(!restaurants.length) { %>
    <p>Sorry! we could not find any restaurants, provide us recommendations for our users.</p>
    <% }else {%>
    <h1>Recommended restaurants</h1>
    <p>Find your next favorite restaurants with help of our other users!</p>
    <p>We found <%= numberOfRestaurants %> restaurant.</p>
    <ul id="restaurants-list">
      <% for(const restaurant of restaurants) { %>
     <%- include('includes/restaurant-items' , {restaurant : restaurant}) %> 
      <% } %>
    </ul>
    <% } %>



  </main>
</body>

</html>