body{
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.container {
    width: 60%;
    margin: 4rem auto;
    background-color: bisque;
    padding: 2rem;
    border-radius: 8px;
}

label{
    font-weight: bold;
    margin-left: 1rem;
    display: block;
}

input{
    
    padding: .2rem;
    margin: 2rem 0;
    font-size: 1.4rem;
    width: 50%;
    margin: 1rem;
}

button{
    font-size: 1.5rem;
    margin-left: 1rem;
    padding: .5rem 1rem;
    border-radius: 6px;
    background-color: rgb(184, 218, 105);
    color: white;
    box-shadow: 1px 1px 4px rgb(92, 89, 89);
    display: block;
}

button:hover{
    background-color: white;
    color: rgb(184, 218, 105);
}

input.warning {
    background-color: rgba(214, 114, 77, 0.918);
}

#toChangeSpan.warning {
    color: rgba(214, 114, 77, 0.918);
}

input.error {
    background-color: rgba(230, 69, 41, 0.918);
}

#toChangeSpan.error {
    color: rgba(230, 69, 41, 0.918);
}

